<!DOCTYPE html>
<html lang="es-419">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giftify - Inicio</title>
    <link rel="stylesheet" href="/styles/global.css">
    <script src="https://kit.fontawesome.com/fc28ce513a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="main-menu">
            <h1>
                <img src="/images/global/nav/logo.jpg" alt="Logo de Giftify">
            </h1>
            <div class="menu-buttons">
                <a href="/login/">
                    <i class="fas fa-sign-in-alt"></i>
                </a>
                <a href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i>Inicio</a></li>
                <li><a href="/store/"><i class="fas fa-store"></i>Tienda</a></li>
                <li><a href="/offers/"><i class="fas fa-tags"></i>Ofertas</a></li>
                <li><a href="/productCart/"><i class="fas fa-plus"></i>Categorías</a></li>
                <li><a href="/about-us/"><i class="fas fa-users"></i>Quiénes Somos</a></li>
                <li><a href="/contact/"><i class="fas fa-envelope"></i>Contacto</a></li>
                <li><a href="/faq/"><i class="fas fa-question-circle"></i>FAQ</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Acá va el contenido del sitio-->
    </main>
    <footer>
        <section class="main-footer">
            <article class="search">
                <input type="text" placeholder="Buscar productos...">
                <button>
                    <i class="fas fa-chevron-right"></i>
                </button>
            </article>
            <article class="payments">
                <div class="logos">
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-cc-amex"></i>
                    <i class="fab fa-cc-paypal"></i>
                    <i class="fab fa-cc-apple-pay"></i>
                </div>
            </article>
            <article class="social-media">
                <div class="logos">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-github"></i>
                </div>
            </article>
            <article class="copyright">
                <p><i class="fas fa-copyright"></i> RedZone Developers, 2022.</p>
            </article>
        </section>
    </footer>
</body>
</html>