/* FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');

/* RESETS GLOBALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
    background-color: #EBEBEB;
}

.small-only {
    display: inline;
}

@media only screen and (min-width: 769px) {
    .small-only {
        display: none;
    }
}

.medium-plus {
    display: none;
}

@media only screen and (min-width: 769px) {
    .medium-plus {
        display: inline;
    }
}


/* HEADER */


/* Giftbox Icon Anim */

img.giftbox-icon {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

img.giftbox-icon:hover {
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotate(10deg);
    }
    25% {
        -webkit-transform: rotate(-10deg);
    }
    50% {
        -webkit-transform: rotate(20deg);
    }
    75% {
        -webkit-transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-ms-keyframes wiggle {
    0% {
        -ms-transform: rotate(1deg);
    }
    25% {
        -ms-transform: rotate(-1deg);
    }
    50% {
        -ms-transform: rotate(1.5deg);
    }
    75% {
        -ms-transform: rotate(-5deg);
    }
    100% {
        -ms-transform: rotate(0deg);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* Navigation Bar */

header a {
    color: white;
}

header {
    background-color: #7A0BC0;
    box-shadow: 1px 1px 5px 0 rgba(80, 80, 80, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

header h1 {
    display: inline;
    text-decoration: none;
    position: relative;
    bottom: 5px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #7A0BC0;
}

header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

header li a:hover,
header .burger-menu:hover {
    background: rgb(122, 11, 192);
    background: -moz-linear-gradient(0deg, rgba(122, 11, 192, 1) 0%, rgba(47, 7, 73, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(122, 11, 192, 1) 0%, rgba(47, 7, 73, 1) 100%);
    background: linear-gradient(0deg, rgba(122, 11, 192, 1) 0%, rgba(47, 7, 73, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#7a0bc0", endColorstr="#2f0749", GradientType=1);
}

header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}


/* Secciones */

header .sections {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}


/* Burger Menu */

header .burger-fill {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

header .burger-fill .fill {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

header .burger-fill .fill:before,
header .burger-fill .fill:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

header .burger-fill .fill:before {
    top: 5px;
}

header .burger-fill .fill:after {
    top: -5px;
}


/* Botón Burger */

header .burger-menu {
    display: none;
}

header .burger-menu:checked~.sections {
    max-height: 240px;
}

header .burger-menu:checked~.burger-fill .fill {
    background: transparent;
}

header .burger-menu:checked~.burger-fill .fill:before {
    transform: rotate(-45deg);
}

header .burger-menu:checked~.burger-fill .fill:after {
    transform: rotate(45deg);
}

header .burger-menu:checked~.burger-fill:not(.steps) .fill:before,
header .burger-menu:checked~.burger-fill:not(.steps) .fill:after {
    top: 0;
}


/* Medium + Large */

@media (min-width: 769px) {
    header li {
        float: left;
    }
    header li a {
        padding: 20px 30px;
    }
    header .sections {
        clear: none;
        float: right;
        max-height: none;
    }
    header .burger-fill {
        display: none;
    }
}


/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    background-color: #7A0BC0;
    color: #FFFFFF;
    width: 100%;
}

footer .main-footer article.payments,
footer .main-footer article.social-media {
    width: 100%;
    padding: 10px 10%;
    font-size: 20px;
}


/* FOOTER SEARCH */

footer .main-footer article:first-child {
    padding-top: 20px;
}

footer .main-footer .search input {
    height: 30px;
    width: 80%;
    background-color: #FFFFFF;
    padding: 0 0 0 10px;
    border: none;
    border-radius: 50px 0px 0px 50px;
}

footer .main-footer .search button {
    height: 30px;
    width: 18%;
    background-color: #FFFFFF;
    color: #7A0BC0;
    border: none;
    border-radius: 0px 50px 50px 0px;
}


/* FOOTER PAYMENTS + SOCIAL MEDIA */

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #ebebeb;
    text-decoration: none;
}

footer .main-footer .payments .logos,
footer .main-footer .social-media .logos {
    font-size: 35px;
}

footer .main-footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

footer .main-footer ul li {
    display: inline;
}

footer .main-footer .social-media .logos span {
    font-size: 15px;
    position: relative;
    bottom: 8px;
    left: 15px
}

footer .main-footer article.locator {
    display: none;
}


/* FOOTER COPYRIGHT */

footer .main-footer .copyright {
    padding-bottom: 20px;
    text-align: center;
    font-size: 12px;
}


/* Footer Medium+ */

@media only screen and (min-width: 1069px) {
    footer {
        height: 250px
    }
    footer .main-footer article.locator {
        display: inline;
        position: absolute;
        bottom: 0;
        right: 50px;
    }
    footer .main-footer article.payments,
    footer .main-footer article.social-media {
        width: 700px;
    }
    footer .main-footer article.payments {
        margin-top: 20px;
    }
    footer .main-footer article.social-media ul {
        display: flex;
        flex-wrap: wrap;
    }
    footer .main-footer article.social-media ul li {
        width: 50%
    }
    footer .main-footer article.copyright {
        width: 100%;
        padding-bottom: 0;
        margin-top: 20px;
    }
}