*{
    box-sizing: border-box;
}


form.centro-form{
    margin: auto;
    margin-top: 20px;
    background-color:darkgray;
    border-radius: 50px 50px 50px 50px;
    width: 60%;  
    
}

main section div.centro-compra{
    display: flex;
    justify-content: center;
    
}

/* BARRA CARRITO + PRODUCTO */
.barra-cantidad{
    display: flex;
    justify-content:flex-start ;
    align-items: center; 
    margin: 2px;
    font-size: 15px;
    width: 40vw;
    height: 31px;
    background-color: #FFFFFF;
    padding: 0 0 0 10px;
    border:none;
    border-radius: 70px ;
    
        
}

h4.producto-h4{
    display: flex;
    justify-content:space-around;
    width: 60vw;
    
}

h4.number-product{
    display: flex;
    justify-content: flex-end;
    width: 40px;
    
}




section div.boton-compra{
    display: flex;
    justify-content: center;
    
}


input.number-product{
    display: flex;
    border: solid 1px grey;
    border-radius: 1px;
    width: 35px;
}

.fa-shopping-cart:before {
    content: "\f07a";
    color: lightcoral;
}


input.number-product {
    display: flex;
    border: solid 1px grey;
    border-radius: 1px;
    width: 35px;
    color: black;
    background-color: lavender;
   
}